.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;

}

.text {
    color: blue;
    font-size: 48px;
    font-weight: 700;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input input {
    height: 40px;
    width: 400px;
    background: transparent;
    border: none;
    color: #797979;
    font-size: 19px;
}

.input ::placeholder {
    margin-left: 20px;
}

.forgot-password {
    margin-top: 25px;
    padding-left: 60px;
    color: #797979;
    font-size: 15px;

}

.forgot-password span {
    color: blue;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;

}

.submit {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: white;
    background-color: blue;
    padding: 9px;
    border-radius: 50px;
    cursor: pointer;
    height: 21px;
    width: 85px;

}

.gray {
    background: #EAEAEA;
    color: #676767;
}